<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>Wack-A-Doo | HTML5 Client</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=960, user-scalable=no" />

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
     
       
  <%= javascript_include_tag "modernizr.custom-2.6.1.min" %>
  <%= javascript_include_tag "sample-0.0.3.min" %>
  
  <%= stylesheet_link_tag    "font_face" %>

  <%= stylesheet_link_tag    "application" %>
  
  <%= stylesheet_link_tag    "slots" %>
  <%= stylesheet_link_tag    "units" %>

  <%= stylesheet_link_tag    "alliance_dialog" %>
  <%= stylesheet_link_tag    "mail_dialog" %>
  <%= stylesheet_link_tag    "menu_dialog" %>
  <%= stylesheet_link_tag    "assignments_dialog" %>
  <%= stylesheet_link_tag    "artifacts_dialog" %>
  <%= stylesheet_link_tag    "taxes_dialog" %>
  <%= stylesheet_link_tag    "resource_info_dialog" %>
  <%= stylesheet_link_tag    "move_dialog" %>
  <%= stylesheet_link_tag    "recruitment_dialog" %>
  <%= stylesheet_link_tag    "trade_dialog" %>
  <%= stylesheet_link_tag    "military_dialog" %>
  <%= stylesheet_link_tag    "army_info_dialog" %>
  <%= stylesheet_link_tag    "change_create_army_dialog" %>
  <%= stylesheet_link_tag    "building_selection_dialog" %>
  <%= stylesheet_link_tag    "building_info_dialog" %>
  <%= stylesheet_link_tag    "upgrade_convert_dialog" %>
  <%= stylesheet_link_tag    "profile_self_dialog" %>

  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag    "buildings" %>
  
</head>

<body>
  
  <div id="fb-root"></div>
  
  <div id="loaddialog-wrapper" class="center-helper">
    <div class="loaddialog">
        <div class="loaddialog-progressbar">
          <div class="loaddialog-progress"></div>
        </div>
        <img class="loaddialog-image" src="<%= asset_path("splashscreen/ladedame_neu.png") %>" />
        <div class="loaddialog-heading"><%= I18n.translate('loading') %></div>
    </div>
  </div>


<%= yield %>

<% if Rails.env.staging? %>
  <!-- div class="<%= Rails.env %>" id="environment">Testrunde</div  -->
<% elsif !Rails.env.production? %>
  <div class="<%= Rails.env %>" id="environment"><%= Rails.env %></div>
<% end %>


</body>
</html>
