
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
  </header>
  
  <div role="main">
    <div id="layers">
      <div id="screen-content">
      </div>
      <div id="notification-layer" class="layer canvas-layer"></div>
      <div id="hud-layer" class="layer canvas-layer"></div>
      <div id="dialog-layer" class="layer dom-layer"></div>
    </div>
    <div id="debug"></div>
    <div id="debug2"></div>
  </div>
  
  <footer>
  </footer>
  
  <script type="text/javascript" >
    ENV = {
      //RAISE_ON_DEPRECATION = true,
    };

    var fbArgs = decodeURIComponent('<%= @fb_args %>');

    var AWE = window.AWE || {};
    AWE.Settings = AWE.Settings || {};

    var my_args = {};
    
    try {
      my_args = JSON.parse(window.name);
    }
    catch (e1) {
      try {
        my_args = JSON.parse(fbArgs);
      }
      catch (e2) {
        if (typeof sessionStorage !== "undefined" && 
            typeof sessionStorage.startupArguments !== "undefined")
        {
          try {
            my_args = JSON.parse(sessionStorage.startupArguments);
          }
          catch (e3) {
          }
        }
      }
    }
    

    AWE.Settings.lang = my_args.locale ? my_args.locale.substr(0, 2) : 'en';

  </script>

  <!-- Load ember JS. For debugging-purposes: not minified. -->
  <%= javascript_include_tag    "ember-0.9.8.1" %>

  <!-- Load easelJS. -->
  <%= javascript_include_tag    "easel" %>

  <!-- Load jappix-mini. -->
  <%= javascript_include_tag    "jappixmini" %>

  <!-- Load date library --> 
  <%= javascript_include_tag    "date" %>

  <!-- scripts concatenated and minified via build script -->
  <%= javascript_include_tag    "awe-config" %>
  <%= javascript_include_tag    "awe-i18n" %>
  <%= javascript_include_tag    "awe-network" %>
  <%= javascript_include_tag    "awe-util" %>
  <%= javascript_include_tag    "awe-map" %>
  <%= javascript_include_tag    "awe-gamestate" %>
  <%= javascript_include_tag    "awe-ui" %>
  <%= javascript_include_tag    "awe-controller" %>
  <%= javascript_include_tag    "awe-action" %>
  <%= javascript_include_tag    "awe-application" %>
  <%= javascript_include_tag    "awe-facebook" %>
  
  <%= javascript_include_tag    "wackadoo" %>
  
  <% if @do_tracking %>
    <% if @google_pixel %>
      <!-- Google Code for Browser Installation Conversion Page -->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 952389704;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "gBJNCPy3gF8QyKCRxgM";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/952389704/?label=gBJNCPy3gF8QyKCRxgM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    <% end %>
    
    <% if @crobo_pixel %>
      <!-- Offer Conversion: WACK-A-Doo - DE / AT / CH -->
      <iframe src="https://tracking.crobo.com/aff_l?offer_id=14520" scrolling="no" frameborder="0" width="1" height="1"></iframe>
      <!-- // End Offer Conversion -->
    <% end %>
  <% end %>

  <!-- end scripts -->
  <div id="templates">
  </div>
