
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
  </header>
  
  <div role="main">
    <div id="layers">
      <div id="screen-content">
      </div>
      <div id="notification-layer" class="layer canvas-layer"></div>
      <div id="hud-layer" class="layer canvas-layer"></div>
      <div id="dialog-layer" class="layer dom-layer"></div>
    </div>
    <div id="debug"></div>
    <div id="debug2"></div>
  </div>
  
  <footer>
  </footer>
  
   <script type="text/javascript" >
        ENV = {
          //RAISE_ON_DEPRECATION = true,
        };
    </script>

  <!-- Load ember JS. For debugging-purposes: not minified. -->
  <%= javascript_include_tag    "ember-0.9.8.1" %>

  <!-- Load easelJS. -->
  <%= javascript_include_tag    "easel" %>

  <!-- Load jappix-mini. -->
  <%= javascript_include_tag    "jappixmini" %>

  <!-- Load date library --> 
  <%= javascript_include_tag    "date" %>

  <!-- scripts concatenated and minified via build script -->
  <%= javascript_include_tag    "awe-config" %>
  <%= javascript_include_tag    "awe-i18n" %>
  <%= javascript_include_tag    "awe-network" %>
  <%= javascript_include_tag    "awe-util" %>
  <%= javascript_include_tag    "awe-map" %>
  <%= javascript_include_tag    "awe-gamestate" %>
  <%= javascript_include_tag    "awe-ui" %>
  <%= javascript_include_tag    "awe-controller" %>
  <%= javascript_include_tag    "awe-action" %>
  <%= javascript_include_tag    "awe-application" %>
  <%= javascript_include_tag    "awe-facebook" %>
  
  <%= javascript_include_tag    "wackadoo" %>

  <% if @do_tracking %>
    <script type="text/javascript">
      /* <![CDATA[ */
      var fbArgs = '<%= @fb_args %>';
      /* ]]> */
    </script>
  <% end %>

  <% if @do_tracking %>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 995608782;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "4F4CCOqdgwQQzpHf2gM";
    var google_conversion_value = 0;
  
    /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/995608782/?value=0&amp;label=4F4CCOqdgwQQzpHf2gM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>  
  <% end %>

  <!-- end scripts -->
  <div id="templates">
  </div>
