
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


  
<% if !@facebook_user.nil? %>
<script>

  var fbArgs = JSON.stringify({
    accessToken:        "<%= @access_data['access_token'] %>",
    expiration:         <%= @access_data['expires_in'] %>, 
    client_id:          "WACKADOO-FBCANVAS",
    fbPlayerId:         "<%= @facebook_user %>",
    fbRunInCanvas:      true,
    
    locale:             "<%= @locale %>",
    country:            "<%= @facebook_user_data['country'] || "" %>",
    referer:            "<%= @referer %>",
    requestUrl:         window.location.href,
  });
  
  Sample.setEndpoint("/psiori/event")
  Sample.setAppToken("wad-rt82-fhjk-18");
  Sample.setPlatform(Sample.PLATFORM_FACEBOOK);
  Sample.setFacebookId("<%= @facebook_user %>");
  Sample.setUserId("<%= @access_data['user_identifer'] %>");
  Sample.setLocale("<%= @locale %>");
  Sample.signIn();
  Sample.sessionStart();
  
  setTimeout(function() {

    $('<form style="display:none;" id="clientstarter" action="/client.html" method="POST">' +
      '  <input type="hidden" name="fb_args" value="' + encodeURIComponent(fbArgs) + '" />' +
      '</form>').appendTo('body').submit();
      
  }, 1000);

</script>
<% else %>
<script> top.location.href='<%= raw @auth_url %>'</script>
<% end %>
